<!-- Section with id "about" (used for navbar on home page) -->
<section class="container pt-8" id="about">
  <!-- <div class="pt-4"><app-fedil26-card></app-fedil26-card></div> -->
  <article role="article" aria-label="Short biography">
    <header class="mb-4 text-left">
      <div class="page-header-block">
        <div class="name">ARYOBARZAN</div>
        <div class="name last">ATASHPENDAR</div>
        <div class="mt-8">
          <span class="colored-box-white">CLASSIFIED</span>
          <span class="pl-4 operator-id">OPERATOR_ID: LUX-96</span>
        </div>
      </div>
    </header>
    <!-- we use inline-grid to ensure the grid container only takes up the width its content requires, with its columns placed side-by-side -->
    <div class="inline-grid sm:grid-cols-1 md:grid-cols-2 gap-4">
      <div class="system-status-box sm:mt-4 md:mt-12">
        <div class="flex justify-between align-bottom mb-8">
          <span class="system-status-title">SYSTEM_STATUS</span
          ><span class="small-gray-text">ID: 0x9812</span>
        </div>
        <div class="flex-col mb-4">
          <div class="flex justify-between align-bottom">
            <span class="system-status-body mb-1">CORE_STABILITY</span
            ><span class="system-status-body" style="color: var(--traxus-primary)">92.3%</span>
          </div>
          <div class="flex gap-x-1">
            @for (i of [].constructor(10); track $index) {
              <aside
                class="progress-bar-component"
                [style]="$index < 9 ? 'background-color: var(--traxus-primary)' : ''"
              ></aside>
            }
          </div>
        </div>
        <div class="flex-col">
          <div class="flex justify-between align-bottom">
            <span class="system-status-body mb-1">LATENCY_SYNC</span
            ><span
              class="small-gray-text"
              [style]="
                latency() < 33 ? 'color: green' : latency() < 66 ? 'color: yellow' : 'color: red'
              "
              >{{ latency() }}MS</span
            >
          </div>
          <div class="flex gap-x-1">
            @for (i of [].constructor(10); track $index) {
              <aside
                class="progress-bar-component"
                [style]="$index < latency() / 10.0 ? 'background-color: var(--traxus-primary)' : ''"
              ></aside>
            }
          </div>
        </div>

        <hr class="mt-8 mb-4" style="color: gray; opacity: 0.5" />
        <div class="small-gray-text" style="font-size: 0.75rem">
          > BOOT SEQUENCE COMPLETE<br />> LOADING MODULES. . . [OK]<br />> INTERFACE STABLE
        </div>
      </div>
      <div class="system-status-box md:mt-12">
        <div class="flex justify-between align-bottom mb-8">
          <span class="system-status-title">LINGUISTIX_MATRIX</span
          ><span class="small-gray-text">ID: 0x4204</span>
        </div>
        <app-languages></app-languages>

        <hr class="mt-8 mb-4" style="color: gray; opacity: 0.5" />
        <div class="small-gray-text" style="font-size: 0.75rem">
          > COGNITIVE LEXICON LOADED<br />> SYNTACTIC MAPPING: ACTIVE<br />>
          CROSS_DOMAIN_COMMUNICATION_ON
        </div>
      </div>
    </div>

    <div class="log-box flex-col mt-6" appHudTilt>
      <div class="flex justify-between align-bottom">
        <span class="flex items-center justify-start gap-2"
          ><aside class="circle"></aside>
          <aside class="log-title">OPERATOR_BIO.LOG</aside></span
        ><span class="small-gray-text">VER: 2.0.1</span>
      </div>
      <div
        class="mt-4 mb-4"
        style="
          font-weight: 400;
          color: rgb(from var(--traxus-primary) r g b / 0.75);
          font-size: 1.25rem;
        "
      >
        > INITIALIZING READOUT. . .
      </div>
      <div class="normal-text">
        Subject [ARYOBARZAN_ATASHPENDAR] is a software engineer specializing in full-stack and
        mobile development. Most recent project involved a cross-platform quiz platform, with
        multiple gamification and smart recommendation features.<br /><br />
        Current focus: exploring the Angular and SwiftUI frameworks for web and native app
        development, respectively.
      </div>
      <hr class="mt-4 mb-4" style="color: gray; opacity: 0.5" />
      <div class="flex gap-8">
        <div class="flex-col">
          <aside class="small-gray-text">SPECIALIZATION</aside>
          <aside class="normal-white-text">FULL-STACK / MOBILE</aside>
        </div>
        <div class="flex-col">
          <aside class="small-gray-text">EXPERIENCE</aside>
          <aside class="normal-white-text">04_YEARS</aside>
        </div>
      </div>
    </div>
    <!-- <p class="card-body" [innerHTML]="biography | markdown | async"></p> -->
    <div class="link-button-grid">
      <a href="https://www.linkedin.com/in/aryobarzan-atashpendar-768111199/" target="_blank">
        <button class="traxus-button">
          <span class="material-symbols-outlined link-button-icon"> open_in_new </span> LinkedIn
        </button></a
      >
      <a href="https://github.com/aryobarzan" target="_blank">
        <button class="traxus-button">
          <span class="material-symbols-outlined link-button-icon"> open_in_new </span> GitHub
        </button></a
      >
      <a href="mailto:aryobarzan.atashpendar@gmail.com" target="_blank">
        <button class="traxus-button">
          <span class="material-symbols-outlined link-button-icon"> email </span> Email
        </button></a
      >
    </div>

    <div class="skills-title mt-12 mb-4">SKILLS_MATRIX</div>

    <app-skills></app-skills>
    <br />
    <br />
  </article>
</section>
