.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: 8px;
}
.container {
  margin: auto auto;
  text-align: start;
  /* Have content vertically centered */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
