<article
  class="project-card flex flex-col text-left"
  role="article"
  aria-label="Project called {{ project().title }}"
>
  <div class="project-card-top">
    <aside>NODE_0{{ index() + 1 }}</aside>
    <aside style="color: gray">ID: {{ project().id }}</aside>
  </div>
  <div class="project-card-middle">
    @if (project().logoComponent) {
      <div class="logo"><ng-container *ngComponentOutlet="project().logoComponent!" /></div>
    } @else if (project().iconURL) {
      <img class="logo" [src]="project().iconURL" [alt]="project().title + ' logo'" />
    }
  </div>
  <div class="project-card-bottom">
    <aside class="project-card-title mb-2">{{ project().title }}</aside>
    <aside class="project-card-short-description mb-6">{{ project().shortDescription }}</aside>
    <div class="flex justify-between gap-2 items-center">
      <aside class="keyword-list">
        @for (keyword of project().keywords; track $index) {
          <span class="keyword">{{ keyword }}</span>
        }
      </aside>
      @if (project().detailRoute) {
        <button
          class="traxus-text-button gap-2 flex items-center align-middle"
          [routerLink]="project().detailRoute"
        >
          <span>ACCESS_NODE</span>
          <span class="material-symbols-outlined link-button-icon" style="top: 0">
            arrow_right_alt
          </span>
        </button>
      }
    </div>
  </div>
  <!-- <div class="flex-container space-x-2">
    <aside class="left-column">
      <img class="logo" src="{{ project.iconURL }}" alt="{{ project.title }} logo" />
    </aside>
    <aside class="right-column">
      <header>
        <h3>{{ project.title }}</h3>
      </header> -->
  <!-- The 'markdown' pipe returns a Promise<SafeHtml>, which we have to pipe to 'async' to finally include the SafeHtml within [innerHTML] -->
  <!-- <p class="card-body" [innerHTML]="project.description | markdown | async"></p>
      @if (project.technologies && project.technologies.length > 1) {
        <section class="technology-grid pt-2">
          @for (technology of project.technologies; track $index) {
            <div class="technology">
              <p>{{ technology.name }}</p>
            </div>
          }
        </section>
      }
    </aside>
  </div>
  @if (project.links && project.links.length > 0) {
    <section class="link-button-grid pt-2">
      @for (link of project.links; track $index) {
        @if (link.isExternal) {
          <a href="{{ link.url }}" target="_blank" class="flex">
            <div class="icon-button">
              @if (iconForLink(link) != undefined) {
                <img
                  src="{{ iconForLink(link) }}"
                  [alt]="'External link: ' + link.name"
                  [title]="link.name"
                />
              } @else {
                {{ link.name }}
              }
            </div>
          </a>
        } @else {
          <a routerLink="{{ link.url }}" routerLinkActive="active">
            <div class="outlined-button">
              {{ link.name }}
            </div>
          </a>
        }
      }
    </section>
  } -->
</article>
