:host {
  display: block;
  height: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #262629;
  border-radius: 4px;
  background-color: #090909;
  font-family: 'Space-Grotesk';
  height: 100%;
}

.project-card-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 32px;
  border-bottom: 2px solid #262629;
  background-color: #090909;
  text-transform: uppercase;
  font-weight: 400;
}

.project-card-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 64px;
  background: repeating-linear-gradient(45deg, #090909, #090909 4px, #111113 4px, #111113 8px);
  border-bottom: 2px solid #262629;
}

.project-card-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1; /* make the bottom part take up the remaining space */
  padding: 32px;
  /* border-bottom: 2px solid #262629; */
  background-color: black;
}

.project-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.project-card-short-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.keyword-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keyword {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-family: 'Space-Grotesk';
  text-align: left;
  padding: 2px 8px;
  text-transform: uppercase;
}

/* change color when the card is hovered or focused-within (keyboard accessible) */
/* .card:hover .technology,
.card:focus-within .technology {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
} */

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* Ensure the main portion of the card takes up the height of the container. This helps to have the links row be pushed to the bottom of the card. */
  flex: 1;
}
.left-column {
  /* The left column should only take up the width required by its content. */
  flex: 0 0 auto;
}

.right-column {
  /* The right column takes up whatever width remains. */
  flex: 1;
}

.logo {
  min-height: 128px;
  max-height: 128px;
  object-fit: contain;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  margin-top: 8px;
}
.link-button-grid {
  /* override */
  justify-content: flex-end;
}

.technology-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.technology {
  border-radius: 16px;
  padding: 4px 12px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  font-size: 1rem;
}

/* ensure p element inside technology element follows the color of technology */
.technology p {
  color: inherit;
}
