.keyword {
  font-size: 1rem;
  color: var(--fg-5);
  font-weight: 500;
  font-family: 'Space-Grotesk';
  text-align: left;
  background-color: var(--fg-faint);
  padding: 2px 8px;
  text-transform: uppercase;
}
.experience-header {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  font-family: 'Space-Grotesk';
  text-transform: uppercase;
}

.experience-text {
  font-family: 'Space-Grotesk';
  font-size: 1rem;
  color: var(--fg-3);
}

.short-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-left: 3px solid #262629;
  padding-left: 16px;
  font-family: 'Space-Grotesk';
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}
