<article
  class="experience-card h-full flex flex-col p-4 text-left"
  role="article"
  aria-label="{{ workExperience.title }} at {{ workExperience.company }}"
>
  <div class="flex gap-4 items-start">
    <div class="flex-1 flex flex-col">
      <header class="flex items-start justify-between gap-4">
        <div>
          <div class="experience-title">{{ workExperience.title }}</div>
          <div class="experience-location">{{ workExperience.company }}</div>
        </div>

        <div class="experience-date whitespace-nowrap text-left flex-col items-end place-items-end">
          <!-- usage of Angular's DatePipe (reusable function) to format the dates in human-readable fashion -->
          <!-- Example: 'Mar 2025' -->
          @if (isRecent()) {
            <div class="colored-yellow-box mb-2">RECENT</div>
          } @else if (isCompleted()) {
            <div class="colored-gray-box mb-2">COMPLETED</div>
          }
          <div>
            @if (workExperience.startDate) {
              <time [attr.datetime]="workExperience.startDate">{{
                workExperience.startDate | date: 'yyyy.MM'
              }}</time>
            }
            @if (workExperience.endDate) {
              —
              <time [attr.datetime]="workExperience.endDate">{{
                workExperience.endDate | date: 'yyyy.MM'
              }}</time>
            } @else {
              — PRESENT
            }
          </div>
        </div>
      </header>
      <hr class="mt-6 mb-6" style="color: gray; opacity: 0.5" />
      <!-- description -->
      @if (workExperience.description) {
        <p class="mt-3 short-description">{{ workExperience.description }}</p>
      }

      <!-- technologies -->
      @if (workExperience.technologies.length) {
        <div class="mt-auto pt-3 flex items-center justify-between gap-4">
          <div class="flex flex-wrap gap-2">
            @for (technology of workExperience.technologies; track $index) {
              <span class="keyword px-2 py-1">{{ technology }}</span>
            }
          </div>
        </div>
      }

      <!-- responsibilities & achievements -->
      @if (workExperience.responsibilities.length + workExperience.achievements.length > 0) {
        <div class="mt-3 flex flex-col space-y-3">
          @if (workExperience.responsibilities.length) {
            <section>
              <h3 class="mb-1 experience-header">Responsibilities</h3>
              <!-- list-disc: normal bullet point markers -->
              <ul class="list-disc ml-4 space-y-1">
                @for (responsibility of workExperience.responsibilities; track $index) {
                  <li class="experience-text">{{ responsibility }}</li>
                }
              </ul>
            </section>
          }
          @if (workExperience.achievements.length) {
            <section>
              <h3 class="mb-1 experience-header">Achievements</h3>
              <ul class="list-disc ml-4 space-y-1">
                @for (achievement of workExperience.achievements; track $index) {
                  <li class="experience-text">{{ achievement }}</li>
                }
              </ul>
            </section>
          }
        </div>
      }
    </div>
  </div>
</article>
