.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* Make the main portion of the card take up the height, ensuring the links row is pushed to the bottom. */
  flex: 1;
}
.left-column {
  /* Have the column's width not grow or shrink, but take up only the space required by its content. */
  flex: 0 0 auto;
}

.right-column {
  /* Have the column's width take up the available/remaining space of the row. */
  flex: 1;
}
.title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
}

.logo {
  max-height: 64px;
  object-fit: contain;
  border-radius: 16px;
}

hr {
  margin-top: 8px;
}
.link-button-grid {
  /* Override global 'center' to 'flex-end' */
  justify-content: flex-end;
}

.technology-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.technology {
  border-radius: 16px;
  padding: 4px 8px;
}

.technology-color {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.technology-language-color {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
