.card {
  width: 100%;

  padding: 8px;
  margin-top: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.card:mouseleave {
  transform: translateY(8px);
  transition: all 0.3s ease;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
}

.logo {
  max-height: 64px;
  object-fit: contain;
  border-radius: 16px;
}

hr {
  margin-top: 8px;
}
.link-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.link {
  margin-right: 8px;
  /* border: 1px solid blue;
  border-radius: 8px; */
  padding: 4px 8px;
  color: blue;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: middle;
}
.link:hover {
  background-color: rgba(44, 121, 184, 0.2);
  border-radius: 16px;
}
.link:active {
  background-color: rgba(44, 121, 184, 0.4);
  border-radius: 16px;
}

.link-icon {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  /* position: relative;
  top: 2px;
  bottom: 2px; */
}
