.card {
  width: 100%;
  margin-top: 8px;
}
.card:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.card:mouseleave {
  transform: translateY(8px);
  transition: all 0.3s ease;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
}

.logo {
  max-height: 64px;
  object-fit: contain;
  border-radius: 16px;
}

hr {
  margin-top: 8px;
}
.link-button-grid {
  /* Override global 'center' to 'flex-end' */
  justify-content: flex-end;
}
