.card {
  display: block;
  padding: 16px;
  margin: 16px;
  border: 1px solid #000000;
  border-radius: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
}

hr {
  margin-top: 8px;
}
.link-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.link {
  margin-right: 8px;
  /* border: 1px solid blue;
  border-radius: 8px; */
  padding: 4px 8px;
  color: blue;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: middle;
}
.link:hover {
  background-color: rgba(44, 121, 184, 0.2);
  border-radius: 16px;
}
.link:active {
  background-color: rgba(44, 121, 184, 0.4);
  border-radius: 16px;
}

.link-icon {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  /* position: relative;
  top: 2px;
  bottom: 2px; */
}
