<article
  class="card h-full flex flex-col p-4 text-left"
  role="article"
  aria-label="Project called {{ project.title }}"
>
  <div class="flex-container space-x-2">
    <aside class="left-column">
      <img class="logo" src="{{ project.iconURL }}" alt="{{ project.title }} logo" />
    </aside>
    <aside class="right-column">
      <header>
        <h3>{{ project.title }}</h3>
      </header>

      <p class="card-body">{{ project.description }}</p>
      @if(project.technologies && project.technologies.length>1){
      <section class="technology-grid pt-2">
        @for(technology of project.technologies; track $index) {
        <div class="technology">
          <p>{{ technology.name }}</p>
        </div>
        }
      </section>
      }
    </aside>
  </div>
  @if (project.links && project.links.length > 0) {
  <section class="link-button-grid pt-2">
    @for (link of project.links; track $index) { @if (link.isExternal){
    <a href="{{ link.url }}" target="_blank" class="flex">
      <div class="icon-button">
        @if(iconForLink(link) != undefined) {
        <img
          src="{{ iconForLink(link) }}"
          [alt]="'External link: ' + link.name"
          [title]="link.name"
        />
        }@else{ {{ link.name }}}
      </div>
    </a>
    } @else {
    <a routerLink="{{ link.url }}" routerLinkActive="active">
      <div class="outlined-button">
        {{ link.name }}
      </div>
    </a>

    } }
  </section>
  }
</article>
