<section class="card h-full flex flex-col">
  <div class="flex-container space-x-4">
    <aside class="left-column">
      <img class="logo" src="{{ project.iconURL }}" alt="{{ project.title }} logo" />
    </aside>
    <aside class="right-column">
      <p class="title">{{ project.title }}</p>
      <p class="description">{{ project.description }}</p>
    </aside>
  </div>

  @if (project.links && project.links.length > 0) {
  <section class="link-button-grid">
    <!-- <img src="assets/images/app-store-badge.svg" alt="Download on the App Store" /> -->
    @for (link of project.links; track $index) { @if (link.isExternal){
    <div class="link-button">
      <a href="{{ link.url }}" target="_blank" class="flex">
        <!-- <a routerLink="{{ link.url }}" routerLinkActive="active" target="_blank"> -->
        @if(iconForLink(link) != undefined) {
        <img src="{{ iconForLink(link) }}" width="20" height="20" class="mr-2" />
        }

        {{ link.name }}
        <!-- <span class="material-symbols-outlined link-icon">open_in_new</span> -->
      </a>
    </div>
    } @else {
    <div class="outlined-button">
      <a routerLink="{{ link.url }}" routerLinkActive="active">
        <!-- <a routerLink="{{ link.url }}" routerLinkActive="active" target="_blank"> -->
        {{ link.name }}
        <!-- <span class="material-symbols-outlined link-icon">open_in_new</span> -->
      </a>
    </div>

    } }
  </section>
  }
</section>
