.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* Ensure the main portion of the card takes up the height of the container. This helps to have the links row be pushed to the bottom of the card. */
  flex: 1;
}
.left-column {
  /* The left column should only take up the width required by its content. */
  flex: 0 0 auto;
}

.right-column {
  /* The right column takes up whatever width remains. */
  flex: 1;
}

.logo {
  max-height: 64px;
  object-fit: contain;
  border-radius: 16px;
}

hr {
  margin-top: 8px;
}
.link-button-grid {
  /* override */
  justify-content: flex-end;
}

.technology-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.technology {
  border-radius: 16px;
  padding: 4px 8px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}
