h1 {
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: auto auto;
  text-align: center;
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: 800px;
}
