<div class="project-links-card">
  <div class="flex flex-col gap-4">
    @for (link of links(); track $index) {
      @if (link.isExternal) {
        <a [href]="link.url" target="_blank" class="w-full">
          <button class="traxus-button" style="width: 100%; box-sizing: inherit">
            <span class="material-symbols-outlined link-button-icon"> open_in_new </span>
            {{ link.name }}
          </button></a
        >
      } @else {
        <a [href]="link.url" class="w-full">
          <button class="traxus-button" style="width: 100%; box-sizing: inherit">
            {{ link.name }}
          </button></a
        >
      }
    }
  </div>
</div>
