.page-container {
  max-width: 800px;
  margin: auto auto;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.smartphone-frame {
  position: relative;
  display: flex;
  /*  width: min(450px, calc(100% * 3 / 4)); */
  height: 800px;
  border: 12px solid #000;
  border-radius: 48px;
  background-color: #000;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* Swipe indicator at bottom of phone */
.smartphone-frame::after {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  border-radius: 10px;
}
.smartphone-content {
  position: relative;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  background: var(--md-sys-color-background);
  border-radius: 36px;
  overflow: hidden;
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--md-sys-color-background);
  z-index: 10;
}

.spinner {
  border: 4px solid var(--md-sys-color-on-background);
  border-left-color: var(--md-sys-color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.scroll-to-top-button {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  margin-right: 4px;
  margin-bottom: 4px;
  user-select: none;
  cursor: pointer;
  align-content: center;
}
