<section [class]="index() < 3 ? 'publication-card-striped' : 'publication-card'">
  <div class="flex justify-between gap-2">
    <div class="authors mb-2">{{ publication().authors }}</div>
    <div class="authors">// {{ publication().year }}</div>
  </div>

  <div class="title mb-4">{{ publication().title }}</div>
  @if (publication().isBestPaper) {
    <div class="mb-2" style="align-items: center; display: flex; gap: 4px">
      <span class="material-symbols-outlined link-button-icon mb-2" style="color: rgb(230, 153, 71)"
        >trophy
      </span>
      <p style="color: rgb(230, 153, 71); font-weight: bold">Best Paper</p>
    </div>
  }
  <div class="keyword-list">
    @for (keyword of publication().keywords; track $index) {
      <span class="keyword">{{ keyword }}</span>
    }
  </div>

  <!-- DOI and link buttons -->
  <div class="flex justify-between">
    <!-- DOI -->
    <div class="doi mt-8">DOI: {{ publication().doi }}</div>
    <!-- links -->
    <section class="link-button-grid mt-3 gap-2">
      @for (link of publication().links; track $index) {
        <a href="{{ link.url }}" target="_blank">
          <button [class]="link.type === 'DOI' ? 'traxus-outlined-button' : 'traxus-button'">
            <span class="material-symbols-outlined link-button-icon">
              {{ link.type === 'DOI' ? 'open_in_new' : 'article' }}
            </span>
            {{ link.type === 'DOI' ? 'DECRYPT' : 'EXTRACT DATA' }}
          </button></a
        >
      }
    </section>
  </div>

  <!-- Links -->
</section>
