p {
  text-align: left;
}

button:hover .material-symbols-outlined {
  transform: scale(1.1);
}

.link-button-grid {
  /* override */
  justify-content: flex-end;
}

.abstract {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  padding: 4px 8px;
}
