.progress-container {
  /* Distribute each segment evenly within the container */
  display: flex;
  /* width: 200px; */
  flex-wrap: wrap;
  height: 8px;
  gap: 4px;
}

.language-title {
  text-align: start;
  font-family: 'Space-Grotesk';
  text-transform: uppercase;
}

.proficiency-label {
  font-size: 0.875rem;
  color: var(--traxus-primary);
  font-family: 'Space-Grotesk';
  text-transform: uppercase;
}

.progress-segment {
  width: 12px;
  height: 16px;
  background-color: gray;
}

.progress-segment[status='filled'] {
  background-color: var(--traxus-primary);
}

.progress-segment[status='empty'] {
  background-color: gray;
}
