@if (isOpen) {
  <div class="sidebar">
    <!-- <button (click)="toggleSidebar()">Close Sidebar</button> -->
    <div class="sidebar-items">
      @for (item of items; track $index) {
        <a [routerLink]="item.route" routerLinkActive="active">
          <div class="sidebar-item">
            {{ item.label }}
          </div></a
        >
      }
    </div>
    <!-- Contact bar is displayed at very bottom of sidebar -->
    <div class="contact-bar"><app-contact-bar></app-contact-bar></div>
  </div>
} @else {
  <button class="sidebar-closed" (click)="toggleSidebar()">Open Sidebar</button>
}
