.card {
  height: 100%;
  border: 2px solid #252528;
  background-color: #09090b;
  border-radius: 0px;
  padding: 32px;
}

hr {
  margin-top: 8px;
}
.link-button-grid {
  /* Override global 'center' to 'flex-end' */
  justify-content: flex-end;
}

.skill-grid {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.skill {
  border-radius: 16px;
  padding: 4px 8px;
  user-select: none;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.skill:hover {
  background-color: rgb(from var(--md-sys-color-primary-container) r g b / 0.8);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.skill:active {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.skill-category-title {
  font-size: 0.825rem;
  font-weight: 400;
  color: var(--traxus-primary);
  text-align: left;
  text-transform: uppercase;
}

.skill-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.skill-title {
  font-size: 1rem;
  font-weight: 600;
  color: gray;
  text-align: left;
  text-transform: uppercase;
}

.skill-level {
  font-size: 1rem;
  font-weight: 600;
  color: var(--traxus-primary);
  text-align: left;
  text-transform: uppercase;
}

.module-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

.module-index {
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;
  text-align: left;
  text-transform: uppercase;
}
