.title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
}

.date-range {
  font-size: 0.875rem;
  color: var(--md-sys-color-outline);
  text-align: left;
}
