<!-- Section with id "articles" (used for navbar on home page) -->
<section class="container pt-8" id="articles">
  <div class="colored-box-white">CLASSIFIED</div>
  <div class="title mt-4">ARTICLE_ARCHIVE</div>
  <div class="subtitle mt-2">INDEXING COMPLETED // {{ articles.length }} ENTRIES FOUND</div>
  <hr class="mt-10 mb-10" style="color: gray; opacity: 0.5" />
  <section class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (article of articles; track $index) {
      <app-article-card
        [article]="article"
        [index]="$index"
        class="animate-fade-in-up"
        [style]="getAnimationStyle($index)"
      >
      </app-article-card>
    }
  </section>
  <br />
  <br />
</section>
