/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import './material-theme/light.scss';
@import './material-theme/dark.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
p {
  color: var(--md-sys-color-on-background);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
  opacity: 0;
}

/* Smooth scrolling with padding for fixed header */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  /* Adjust this value based on your nav height */
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Card */
.card {
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid var(--md-sys-color-on-primary-container);
  border-radius: 8px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Link Button */
.link-button {
  margin-right: 8px;
  /* border: 1px solid blue;
  border-radius: 8px; */
  padding: 4px 8px;
  color: var(--md-sys-color-primary);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: middle;
}
.link-button:hover {
  background-color: rgb(from var(--md-sys-color-primary) r g b / 0.2);
  border-radius: 16px;
}
.link-button:active {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border-radius: 16px;
}
.link-button-icon {
  /* vertical-align: middle; */
  font-size: 18px;
  font-weight: 500;
  /* position: relative;
  top: 2px;*/
  /* bottom: 2px; */
  top: 4px;
  position: relative;
}
.link-button:hover .link-button-icon {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.link-button-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Outlined Button */
.outlined-button {
  margin-right: 8px;
  border-radius: 16px;
  padding: 4px 8px;
  border: 2px solid var(--md-sys-color-primary);
  color: var(--md-sys-color-primary);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: middle;
}
.outlined-button:hover {
  border: 0x;
  background-color: rgb(from var(--md-sys-color-primary) r g b / 0.2);
  // background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-primary);
}
.outlined-button:active {
  // border: 2px solid var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
.outlined-button-icon {
  font-size: 18px;
  font-weight: 500;
  top: 4px;
  position: relative;
}
.outlined-button:hover .outlined-button-icon {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
