.tab-bar {
  margin: 20px auto;
  text-align: center;
  max-width: 1200px;
}

.bottom-bar {
  max-width: 800px;
  margin: auto auto;
  text-align: center;
}

.home-container {
  max-width: 1200px;
  margin: auto auto;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
