h1 {
  font-weight: bold;
  margin-bottom: 8px;
}

.container {
  margin: auto auto;
  text-align: center;
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.project-filters-grid {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.project-filter {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease,
    border-color 0.3s ease, font-weight 0.3s ease;
}

.project-filter-inactive {
  border-radius: 8px;
  border: 1px var(--md-sys-color-outline) solid;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}
.project-filter-inactive:hover {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}

.project-filter-inactive:active {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.project-filter-active {
  border-radius: 16px;
  border: 1px var(--md-sys-color-on-primary) solid;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  font-weight: 500;
}

.project-filter-active:hover {
  background-color: var(--md-sys-color-inverse-primary);
  color: var(--md-sys-color-on-inverse-primary);
}

.project-filter-active:active {
  border: 1px var(--md-sys-color-outline) solid;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1; // Fade in
    transform: translateY(0); // Slide down
  }
}

@keyframes fadeOutSlideRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0; // Fade out
    transform: translateX(100px); // Slide to the right
  }
}

.publication-enter-animation {
  animation: fadeInSlideDown 0.3s ease-out forwards;
}

.publication-leave-animation {
  animation: fadeOutSlideRight 0.3s ease-in forwards;
}
