h1 {
  font-weight: bold;
  margin-bottom: 8px;
}

.container {
  margin: auto auto;
  text-align: center;
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
