.card {
  width: 100%;
}

hr {
  margin-top: 8px;
}
.link-button-grid {
  /* Override global 'center' to 'flex-end' */
  justify-content: flex-end;
}

.skill-grid {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.skill {
  border-radius: 16px;
  padding: 4px 8px;
  user-select: none;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.skill:hover {
  background-color: rgb(from var(--md-sys-color-primary-container) r g b / 0.8);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.skill:active {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
