name: Deploy Production Build to Public Repo

on:
  push:
    branches:
      - production

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the source repository
      # This needs to be done on the private repo containing the docs folder
      - name: Checkout Source Repository
        uses: actions/checkout@v4
        with:
          # Use the PAT to access the private repo
          token: ${{ secrets.ACCESS_TOKEN }}
      - name: Checkout Destination Repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: 'aryobarzan/aryobarzan'
          path: 'target-repo'
      - name: Copy docs and push
        run: |
          pwd
          ls
          # Change directory to the target repo
          cd target-repo

          # Remove any old docs folder to ensure a clean sync
          rm -rf docs

          # Copy the docs folder and its contents from the source repo
          # This command ensures the parent directory exists
          cp -r ../docs . # Note the trailing dot
          cp ./docs/index.html ./docs/404.html
          echo "aryobarzan.com" >> ./docs/CNAME
      - name: Commit and push changes
        working-directory: ./target-repo
        run: |
          git config user.name "aryobarzan"
          git config user.email "aryobarzan.atashpendar@gmail.com"
          git add docs
          git commit -m "Deploying docs from private repository [skip ci]"
          git push
