name: Deploy Production Build to Public Repo

on:
  push:
    branches:
      - production

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the source repository
      # This needs to be done on the private repo containing the docs folder
      - name: Checkout Source Repository
        uses: actions/checkout@v4
        with:
          # Use the PAT to access the private repo
          token: ${{ secrets.ACCESS_TOKEN }}
      # Step 1: Checkout the source repository

      # Step 5: Push the production build folder to the target repository
      - name: Push to production repo
        uses: cpina/github-action-push-to-another-repository@v1.7.2
        env:
          API_TOKEN_GITHUB: ${{ secrets.ACCESS_TOKEN }}
        with:
          source-directory: 'docs' # The folder with your production build
          destination-github-username: 'aryobarzan'
          destination-repository-name: 'aryobarzan'
          user-email: 'aryobarzan.atashpendar@gmail.com'
          commit-message: 'Deploying from source repository [skip ci]'
          destination-directory: 'docs'
          target-branch: main
